---
---


@import "{{ site.theme }}";
html{
    max-vh: 100%;
    margin: 0;
}
h1 {
    color: black;
}
body {
    background-color: #D4DFDD;
}
.wrapper {
    margin-left: -20px;  /* Pushes side bar to left more*/
}
section {
    width: 700px;  /* Makes it take up the full width of the parent container */
}
