---
---

@import "{{ site.theme }}";

body {
    background-color: #D4DFDD;
}
.wrapper {
    margin-left: -20px;  /* Pushes side bar to left more*/
}
section {
    padding-left: 30px;  /* Pushes content right */
    width: 700px;  /* Makes it take up the full width of the parent container */
}
h1 {
    color: black;
}