---
---


@import "{{ site.theme }}";
body {
    background-color: #D4DFDD;
}
.wrapper {
    margin-left: -5px;  /* Pushes page to left more*/
    width: 100%;  /* Makes sure that the page is full width */
}
section {
    width:800px;
}
